{# app/Resources/views/admin/admin_index.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

{{ include('nav.html.twig')}}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                 {{ render(controller('FOSUserBundle:Security:login')) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{{ include('footer.html.twig')}}