{# app/Resources/views/categories_articles.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

    <h1>Catégories articles</h1>

    {{ include('nav.html.twig')}}


{% endblock %}

{{ include('footer.html.twig')}}