{# app/Resources/views/index.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

    <!--<h1>Index</h1>-->

    {{ include('nav.html.twig')}}

    <!--<img src="{{ asset('image/yala.png')  }}">-->

{% endblock %}

{{ include('footer.html.twig')}}