{# app/Resources/views/article.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

    <div class="container-article">
        <section class="top-page">
            <a href="list-article_2.html">‹ Revenir à la liste des articles</a>
        </section>


        <section class="article">
            <div class="top-page-img"></div>
            <div class="article-content">
                <div class="article-title">
                    <h1>Fest-noz solidaire le 29 octobre à Poullaouen</h1>
                </div>

                <div class="social-section">
                    <ul class="social-box">
                        <li><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                        <li><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                        <li><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                    </ul>
                    <a href="" class="event-link">Voir l'évènement sur facebook</a>
                </div>
                <div class="content-box">
                    <p>
                        Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres de Beyrouth.

                        Vous pourrez y apprécier les talents des musiciens et chanteurs, Marie-Hélène Baron, Laurent Bigot, Yann Boulanger, Jean-Daniel Bourdonnay, Pierre Crépillon, Annie Ebrel, Ifig Flatrès, Marie-Laurence Fustec, Riwal Fustec, Yann Goasdoué, Maurice Guillou, Jean-Paul Guyomarc’h, Jean Herrou, Brigitte Le Corre, Yann Le Corre, Bruno Le Manach, Marie-Noëlle Le Mapihan, Pierre-Yves Le Panse, François Perennes, Iffig Poho, Christian Rivoalen, qui s’engagent bénévolement pour soutenir Yalla! Pour les Enfants.

                        Cette fête traditionnelle bretonne où règnent la bonne humeur, la convivialité, la gaieté fait écho au dialogue interculturel mené par Yalla ! Pour les Enfants qui entend réunir au travers de projets culturels communs la communauté d’accueil libanaise et la communauté syrienne en exil pour construire une paix durable. Avec la participation active de : Maryam Samaan, Cyrille Flejou, AFPS Centre Bretagne, la mairie de Poullaouen, Le Télégramme, Ouest-France, Radio Montagne Noire, Radio Kreiz Breizh, Radio Bleu Breizh Izel
                    </p>
                    <a href="">Télécharger le communiqué de presse</a>
                </div>
            </div>
        </section>
        <section class="slide-article">
            <ul>
                <li><a href=""><img src="img-layout/back.svg" alt=""></a></li>
                <li>changer d'article</li>
                <li><a href=""><img src="img-layout/next.svg" alt=""></a></li>
            </ul>
        </section>

        <section class="bottom-page">
            <a href="list-article_2.html">‹ Revenir à la liste des articles</a>
        </section>

    </div>


{% endblock %}

{{ include('footer.html.twig')}}