{# app/Resources/views/contact.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

    <main class="contact">
        <article>
            <div class="cadre-img"></div>
            <div class="h1">
                <div class="cadre-text">
                    <h1>Contact</h1>
                </div>
            </div>
        </article>
        <section>
            <div class="content">
                <p>Pour toute demande de renseignements sur notre association, n’hésitez pas à nous contacter à notre nouvelle adresse: <span><a href="mailto:yalla.enfants@gmail.com">yalla.enfants@gmail.com</a></span></p>
                <h2>Nous vous répondrons au plus vite !</h2>
                <div class="desc">
                    <h2>Adresse Postal</h2>
                    <p>Yalla! Pour les Enfants</p>
                    <p>13 rue René Villerme – 75011 PARIS</p>
                </div>
                <div class="desc">
                    <h2>Mentions légales</h2>
                    <p>Association Yalla! Pour les Enfants</p>
                    <p>13, rue René Villerme – 75011 PARIS</p>
                    <p>Directrice de publication : Mary Lemeland-Mellionec</p>
                    <p>Téléphone : +33 (0)6.17.77.71.22</p>
                </div>
                <div class="desc">
                    <h2>Hébergeur</h2>
                    <p>Hébergeur : OVH</p>
                    <p>2 rue Kellermann – 59100 Roubaix – France</p>
                </div>
            </div>
        </section>
    </main>


{% endblock %}

{{ include('footer.html.twig')}}