<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header class="row">
		
	</header>
	<main class="row index">
		<ul class="ariane">
			<a href="#"><li>Accueil</li></a>
		</ul>
		<div class="row">
			<div class="title">
				<span></span>
				<h1>Nos derniers articles</h1>
			</div>
		</div>
		<div class="row">
			<article id="last-article" class="content col-s-12 col-m-10 col-m-center col-l-10 col-l-center">
				<div class="date">
					<div id="day">
						<p>La</p>
					</div>
					<div id="month">
						<p>Nouvelle</p>
					</div>
				</div>
				<figure class="col-s-12 col-s-center col-m-12 col-m-center col-l-12 col-l-center row content">
					<div class="col-s-12 col-m-6 col-l-6 row content" id="img-article">
						<img src="img-content/img1.jpg" alt="">
					</div>
					<figcaption class="col-s-12 col-m-6 col-l-6 row content">
						<h2>Fest-noz solidaire le 29 octobre à Poullaouen</h2>
						<p>Yalla vous convie le samedi 29 Octobre à une levée de fonds dont les bénéfices reviendront à son école d’Aley située au Liban</p>
						<div class="btn">
							<p>Lire l'article</p>
						</div>
						<h4><a href="">Partager l'article</a></h4>
						<ul class="social">
							<li><a href=""><img src="img-layout/facebook.png" alt="facebook"></a></li>
							<li><a href=""><img src="img-layout/twitter.png" alt="twitter"></a></li>
							<li><a href=""><img src="img-layout/instagram.png" alt="instagram"></a></li>
						</ul>
					</figcaption>
				</figure>
			</article>
		</div>
		<div id="list-article" class="row">
			<article class="content row col-s-12 col-m-5 col-l-3">
					<div class="date">
					<div id="day">
						<p>La</p>
					</div>
					<div id="month">
						<p>Nouvelle</p>
					</div>
					</div>
					<figure class="col-s-12 col-s-center col-m-12 	col-m-center col-l-12 col-l-center row content">
					<div class="col-s-12 col-m-12 col-l-12 row content img-article">
						<img src="img-content/img1.jpg" alt="">
					</div>
					<figcaption class="col-s-12 col-m-12 col-l-12 row content">
						<h2>Fest-noz solidaire le 29 octobre à Poullaouen</h2>
						<p>Yalla vous convie le samedi 29 Octobre à une evée de fonds dont les bénéfices reviendront à son école d’Aley située au Liban</p>
						<h4>Partager l'article</h4>
						<ul class="social">
							<li><a href=""><img src="img-layout/facebook.png" alt="facebook"></a></li>
							<li><a href=""><img src="img-layout/twitter.png" alt="twitter"></a></li>
							<li><a href=""><img src="img-layout/instagram.png" alt="instagram"></a></li>
						</ul>
					</figcaption>
					</figure>
			</article>
			<article class="content row col-s-12 col-m-5 col-l-3">
					<div class="date">
					<div id="day">
						<p>La</p>
					</div>
					<div id="month">
						<p>Nouvelle</p>
					</div>
					</div>
					<figure class="col-s-12 col-s-center col-m-12 	col-m-center col-l-12 col-l-center row content">
					<div class="col-s-12 col-m-12 col-l-12 row content img-article">
						<img src="img-content/mission2.jpg" alt="">
					</div>
					<figcaption class="col-s-12 col-m-12 col-l-12 row content">
						<h2>Fest-noz solidaire le 29 octobre à Poullaouen</h2>
						<p>Yalla vous convie le samedi 29 Octobre à une evée de fonds dont les bénéfices reviendront à son école d’Aley située au Liban</p>
						<h4>Partager l'article</h4>
						<ul class="social">
							<li><a href=""><img src="img-layout/facebook.png" alt="facebook"></a></li>
							<li><a href=""><img src="img-layout/twitter.png" alt="twitter"></a></li>
							<li><a href=""><img src="img-layout/instagram.png" alt="instagram"></a></li>
						</ul>
					</figcaption>
					</figure>
			</article>
			<article class="content row col-s-12 col-m-5 col-l-3">
					<div class="date">
					<div id="day">
						<p>La</p>
					</div>
					<div id="month">
						<p>Nouvelle</p>
					</div>
					</div>
					<figure class="col-s-12 col-s-center col-m-12 	col-m-center col-l-12 col-l-center row content">
					<div class="col-s-12 col-m-12 col-l-12 row content img-article">
						<img src="img-content/missions-head.jpg" alt="">
					</div>
					<figcaption class="col-s-12 col-m-12 col-l-12 row content">
						<h2>Fest-noz solidaire le 29 octobre à Poullaouen</h2>
						<p>Yalla vous convie le samedi 29 Octobre à une evée de fonds dont les bénéfices reviendront à son école d’Aley située au Liban</p>
						<h4>Partager l'article</h4>
						<ul class="social">
							<li><a href=""><img src="img-layout/facebook.png" alt="facebook"></a></li>
							<li><a href=""><img src="img-layout/twitter.png" alt="twitter"></a></li>
							<li><a href=""><img src="img-layout/instagram.png" alt="instagram"></a></li>
						</ul>
					</figcaption>
					</figure>
			</article>
		</div>
	</main>
	<footer>
        <div class="logo-box">
            <figure><img src="img-layout/yallalogo.png" alt="logo"></figure>
        </div>
        
        <div class="info-box">
           
            <!--***   nous suivre  ***-->
            <div class="follow-us-box footer-element">
                <h3>Nous suivre</h3>
                <ul class="follow-us">
                    <li class="text-link"><a href="">facebook</a></li>
                    <li class="text-link"><a href="">twitter</a></li>
                    <li class="text-link"><a href="">instagram</a></li>
                    <li class="icon-link"><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                    <li class="icon-link"><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                    <li class="icon-link"><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                </ul>
            </div>
            
            <!--***   archives  ***-->
            <ul class="archives footer-element">
                <h3>Archives</h3>
                <li><a href="">mai 2017</a></li>
                <li><a href="">avril 2017</a></li>
                <li><a href="">mars 2017</a></li>
                <li><a href="">Plus d'articles...</a></li>
            </ul>
            
            <!--***   nous soutenir  ***-->
            <ul class="support-us footer-element">
                <h3 class="support-us-title">Nous soutenir</h3>
                <li class="support-us-subtitle">Newsletter</li>
                <li>
                   <form action="">
                        <input type="text" placeholder="Adresse mail...">
                        <input type="submit" value="envoyer">
                    </form>
                </li>
                <li><a href="">Faire un don</a></li>
                
            </ul>
            
            <!--***   mentionsLégales + searchBar  ***-->
            <ul class="other footer-element">
                <li class="search-bar">
                   <form action="">
                        <input type="search" placeholder="Rechercher">
                    </form>
                </li>
                <li class="legal"><a href="">mentions légales</a></li>
                <li class="contact"><a href="">nous contacter</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>