<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Actualités</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
    <div class="container">
        <h1>Les news</h1>
        <div class="filtre">
            <ul>
                <li><a href="">type d'actu ▾</a>
                    <ul>
                        <li>Evènements</li>
                        <li>Articles</li>
                        <li>Newsletter</li>
                    </ul>
                </li>
            </ul>
        </div>
        <section class="content">
            <article>
                <figure>
                    <img src="img-content/evenement1_1.jpg" alt="">
                    <figcaption>
                        <div class="chiffre">
                            <p>19</p>
                        </div>
                        <div class="large">
                            <p>mai 2016</p>
                        </div>
                    </figcaption>
                </figure>
                <div class="descriptif">
                    <a href=""><h3>Fest-Noz solidaire le 29 octobre à Poullaouen</h3></a>
                    <p class="description-courte">Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban.</p>
                    <a href="" class="see-event">Voir l'évènement sur facebook</a>
                    <p>Partager:</p>
                    <ul>
                        <li class="facebook-icon"><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                        <li class="twitter-icon"><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                        <li class="insta-icon"><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                    </ul>
                </div>
            </article>
            
                  <article>
                <figure>
                    <img src="img-content/evenement2_1.jpg" alt="">
                    <figcaption>
                        <div class="chiffre">
                            <p>19</p>
                        </div>
                        <div class="large">
                            <p>mai 2016</p>
                        </div>
                    </figcaption>
                </figure>
                <div class="descriptif">
                    <a href=""><h3>Pétition « Ban Ki-moon : STOPPONS LA GUERRE EN SYRIE »</h3></a>
                    <p class="description-courte">Nous relayons l’appel citoyen adressé au Secrétaire Général des Nations Unies Ban Ki-moon. Pour vous aussi signer cette pétition, cliquez ici.</p>
                    <p>Partager:</p>
                    <ul>
                        <li class="facebook-icon"><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                        <li class="twitter-icon"><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                        <li class="insta-icon"><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                    </ul>
                </div>
            </article>
            
              <article>
                <figure>
                    <img src="img-content/evenement3_1.jpg" alt="">
                    <figcaption>
                        <div class="chiffre">
                            <p>19</p>
                        </div>
                        <div class="large">
                            <p>mai 2016</p>
                        </div>
                    </figcaption>
                </figure>
                <div class="descriptif">
                   <a href=""><h3>Les prochains évènements de Souria Houria</h3></a>
                    <p class="description-courte">Découvrez ici les nombreuses rencontres proposées par l’association Souria Houria dans les semaines qui viennent.</p>
                    <p>Partager:</p>
                    <ul>
                        <li class="facebook-icon"><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                        <li class="twitter-icon"><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                        <li class="insta-icon"><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                    </ul>
                </div>
            </article>
            
                 <article>
                <figure>
                    <img src="img-content/evenement4_1.jpg" alt="">
                    <figcaption>
                        <div class="chiffre">
                            <p>19</p>
                        </div>
                        <div class="large">
                            <p>mai 2016</p>
                        </div>
                    </figcaption>
                </figure>
                <div class="descriptif">
                    <a href=""><h3>Yalla ! Pour les Enfants au marché des céramistes de Quimper les 5 et 6 septembre</h3></a>
                    <p class="description-courte">Des oeuvres de plusieurs céramistes ont été vendues au profit de Yalla !</p>
                    <p>Partager:</p>
                    <ul>
                        <li class="facebook-icon"><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                        <li class="twitter-icon"><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                        <li class="insta-icon"><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                    </ul>
                </div>
            </article>
            
                 <article>
                <figure>
                    <img src="img-content/evenement5_1.jpg" alt="">
                    <figcaption>
                        <div class="chiffre">
                            <p>19</p>
                        </div>
                        <div class="large">
                            <p>mai 2016</p>
                        </div>
                    </figcaption>
                </figure>
                <div class="descriptif">
                    <a href=""><h3>En avril à Paris, spectacle jeune public du duo Catherine Vincent pour Yalla !</h3></a>
                    <p class="description-courte">Yalla ! Pour les Enfants est heureux de vous annoncer le spectacle Hansel et Gretel.</p>
                    <p>Partager:</p>
                    <ul>
                        <li class="facebook-icon"><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                        <li class="twitter-icon"><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                        <li class="insta-icon"><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                    </ul>
                </div>
            </article>
            
                 <article>
                <figure>
                    <img src="img-content/evenement6_1.jpg" alt="">
                    <figcaption>
                        <div class="chiffre">
                            <p>19</p>
                        </div>
                        <div class="large">
                            <p>mai 2016</p>
                        </div>
                    </figcaption>
                </figure>
                <div class="descriptif">
                    <a href=""><h3>Le 10 mars à Marseille : Concert Amour, paix et révolution du duo Catherine Vincent et Mohammad Alarashi</h3></a>
                    <p class="description-courte">Jeudi 10 mars Amour Paix et Révolution Concert</p>
                    <p>Partager:</p>
                    <ul>
                        <li class="facebook-icon"><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                        <li class="twitter-icon"><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                        <li class="insta-icon"><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                    </ul>
                </div>
            </article>
        </section>
        
               <!--*********     FOOTER     ************-->
        <footer>
            <div class="logo-box">
                <figure><img src="img-layout/yallalogo.png" alt="logo"></figure>
            </div>
            
            <div class="info-box">
               
                <!--***   nous suivre  ***-->
                <div class="follow-us-box footer-element">
                    <h3>Nous suivre</h3>
                    <ul class="follow-us">
                        <li class="text-link"><a href="">facebook</a></li>
                        <li class="text-link"><a href="">twitter</a></li>
                        <li class="text-link"><a href="">instagram</a></li>
                        <li class="icon-link"><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                        <li class="icon-link"><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                        <li class="icon-link"><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                    </ul>
                </div>
                
                <!--***   archives  ***-->
                <ul class="archives footer-element">
                    <h3>Archives</h3>
                    <li><a href="">mai 2017</a></li>
                    <li><a href="">avril 2017</a></li>
                    <li><a href="">mars 2017</a></li>
                    <li><a href="">Plus d'articles...</a></li>
                </ul>
                
                <!--***   nous soutenir  ***-->
                <ul class="support-us footer-element">
                    <h3 class="support-us-title">Nous soutenir</h3>
                    <li class="support-us-subtitle support-element">Newsletter</li>
                    <li class="support-element">
                       <form action="">
                            <input type="text" placeholder="Adresse mail...">
                            <input type="submit" value="s'inscrire à la Newsletter">
                        </form>
                    </li>
                    <li class="support-element"><a href="">Faire un don</a></li>
                    
                </ul>
                
                <!--***   mentionsLégales + searchBar  ***-->
                <ul class="other footer-element">
                    <li class="search-bar">
                       <form action="">
                            <input type="search" placeholder="Rechercher"><button><img src="img-layout/icons/search.svg" alt=""></button>
                        </form>
                    </li>
                    <li class="legal"><a href="">mentions légales</a></li>
                    <li class="contact"><a href="">nous contacter</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>