<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.O">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header class="row">

	</header>
	<main class="row mission">
		<ul class="ariane">
			<a href="#"><li>Accueil</li></a>
			<a href="#"><li>Qui sommes nous ?</li></a>
			<a href="#"><li>Nos missions</li></a>
		</ul>
		<article class="row">
			<div class="content col-s-12 col-m-10 col-m-center col-l-8 col-l-center">
				<div class="title">
					<span></span>
					<h2>Notre stratégie</h2>
				</div>
				<img src="img-content/mission1.jpg" alt="img-classe" class="img-content">
				<div class="description">
					<p><span>intégration des bénéficiaires et de la communauté d’accueil à tous les stades de développement du projet</span>, afin de garantir une compréhension mutuelle des enjeux et objectifs du projet, et contribuer au succès de la mission.</p>
					<p><span>Respect de la coordination de l’aide humanitaire menée par les agences humanitaires des Nations Unies</span>, afin de s’intégrer dans une action globale et parvenir ensemble à plus d’efficacité pour répondre aux besoins les plus prégnants.</p>
					<p><span>Création d’un lien dynamique entre les donateurs et les bénéficiaires afin de créer une solidarité de proximité</span> et garantir une visibilité sur la destination et l’impact des dons quels que soient leurs montants, tout en faisant parvenir aux bénéficiaires un message de soutien concret de la part de la société civile solidaire</p>
				</div>
			</div>
		</article>
		<article class="row">
			<div class="content col-s-12 col-m-10 col-m-center col-l-8 col-l-center">
				<div class="title">
					<span></span>
					<h2 class="h2-mission">Nos actions</h2>
				</div>	
				<img src="img-content/mission2.jpg" alt="img-classe" class="img-content">
				<div class="description">
					<p><span>Création de centres d’éducation informelle</span> de qualité à destination d’enfants syriens réfugiés.</p>
					<p><span>Plaidoyer auprès des autorités libanaises</span> locales et gouvernementales pour l’intégration des enfants syriens au sein du système scolaire libanais, après remise à niveau par Yalla !</p>
					<p><span>Organisation d’activités sportives et artistiques</span> à destination d’enfants libanais et syriens dans le cadre du dialogue intercommunautaire porté par Yalla!</p>
				</div>
			</div>
		</article>
		<article class="row">
			<div class="content col-s-12 col-m-10 col-m-center col-l-8 col-l-center">
				<div class="title">
					<span></span>
					<h2 class="h2-mission">Nos objectifs</h2>
				</div>
				<img src="img-content/mission3.jpg" alt="img-classe" class="img-content">
				<div class="description">
					<div class="desc-content">
						<h3>Garantir le droit à l'éducation et au développement de l'enfant</h3>
						<p><span>Permettre le développement de l’enfant</span> dans un environnement sécurisé et adapté afin qu’il retrouve confiance en lui et panse ses blessures liées à l’exil et au conflit</p>
						<p><span>Remettre l’enfant à niveau</span> et le réhabituer au rythme scolaire. Intégrer l’enfant au sein du système scolaire classique afin qu’il puisse obtenir un diplôme et lui donner toutes les chances de succès dans sa vie future</p>
						<p class="orange">⇒ L’enfant se réalise en tant qu’individu et s’intègre à la société dans laquelle il évolue</p>
					</div>
					<div class="desc-content">
						<h3>Développer des mecanismes de construction de la paix</h3>
						<p><span>Des bénévoles syriens et des libanais de toutes confessions</span>, ethnies et origines socio-économiques travaillent ensemble autour d’un projet fédérateur et apprennent à se connaître dans un environnement positif, où priment l’égalité et le respect mutuel</p>
						<p><span>Enfants syriens et libanais de toutes origines</span> se découvrent autour d’activités ludiques</p>
						<p class="orange">⇒ Les relations entre les diverses communautés sont pacifiées</p>
					</div>
				</div>
			</div>
		</article>
	</main>
	<footer>
        <div class="logo-box">
            <figure><img src="img-layout/yallalogo.png" alt="logo"></figure>
        </div>
        
        <div class="info-box">
           
            <!--***   nous suivre  ***-->
            <div class="follow-us-box footer-element">
                <h3>Nous suivre</h3>
                <ul class="follow-us">
                    <li class="text-link"><a href="">facebook</a></li>
                    <li class="text-link"><a href="">twitter</a></li>
                    <li class="text-link"><a href="">instagram</a></li>
                    <li class="icon-link"><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                    <li class="icon-link"><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                    <li class="icon-link"><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                </ul>
            </div>
            
            <!--***   archives  ***-->
            <ul class="archives footer-element">
                <h3>Archives</h3>
                <li><a href="">mai 2017</a></li>
                <li><a href="">avril 2017</a></li>
                <li><a href="">mars 2017</a></li>
                <li><a href="">Plus d'articles...</a></li>
            </ul>
            
            <!--***   nous soutenir  ***-->
            <ul class="support-us footer-element">
                <h3 class="support-us-title">Nous soutenir</h3>
                <li class="support-us-subtitle">Newsletter</li>
                <li>
                   <form action="">
                        <input type="text" placeholder="Adresse mail...">
                        <input type="submit" value="envoyer">
                    </form>
                </li>
                <li><a href="">Faire un don</a></li>
                
            </ul>
            
            <!--***   mentionsLégales + searchBar  ***-->
            <ul class="other footer-element">
                <li class="search-bar">
                   <form action="">
                        <input type="search" placeholder="Rechercher">
                    </form>
                </li>
                <li class="legal"><a href="">mentions légales</a></li>
                <li class="contact"><a href="">nous contacter</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>