{# app/Resources/views/nous.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

    <main class="general-content">
        <section class="nous-connaitre">
            <div class="box-image">
                <div class="fond"></div>
                <h2 class="mobile-title">Nous connaître</h2>
                <a href="" class="go-link">Voir plus</a>
            </div>
            <a href="">
                <div class="box-details">
                    <h2>Nous connaître</h2>
                    <p>Yalla a pour but de remettre les enfants syrien sur le chemin de l’école suite aux guerres</p>
                </div>
            </a>
        </section>
        <section class="nos-missions">
            <div class="box-image">
                <div class="fond"></div>
                <h2 class="mobile-title">Nos missions</h2>
                <a href="" class="go-link">Voir plus</a>
            </div>
            <a href="">
                <div class="box-details">
                    <h2>Nos missions</h2>
                    <p>
                        Découvrez nos missions à travers le Liban.
                    </p>
                </div>
            </a>
        </section>
        <section class="nos-objectifs">
            <div class="box-image">
                <div class="fond"></div>
                <h2 class="mobile-title">Nos objectifs</h2>
                <a href="" class="go-link">Voir plus</a>
            </div>
            <a href="">
                <div class="box-details">
                    <h2>Nos objectifs</h2>
                    <p>Le défi des acteurs sur le terrain est d'assurer une éducation aux enfants syriens. Yalla! s'en donne une ligne de conduite.
                    </p>
                </div>
            </a>
        </section>
    </main>


{% endblock %}

{{ include('footer.html.twig')}}