<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Actualités</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
    <div class="qui-sommes-nous-container">
        <div class="box-title">
            <h1><span>|</span>Qui sommes-nous?</h1>
        </div>
    
        <main class="general-content">
            <section class="nous-connaitre">
                <div class="box-image">
                    <div class="fond"></div>
                    <h2 class="mobile-title">Nous connaître</h2>
                    <a href="" class="go-link">Voir plus</a>
                </div>
                <a href="">
                    <div class="box-details">
                        <h2>Nous connaître</h2>
                        <p>Yalla a pour but de remettre les enfants syrien sur le chemin de l’école suite aux guerres</p>
                    </div>
                </a>
            </section>
            <section class="nos-missions">
                <div class="box-image">
                    <div class="fond"></div>
                    <h2 class="mobile-title">Nos missions</h2>
                    <a href="" class="go-link">Voir plus</a>
                </div>
                <a href="">
                    <div class="box-details">
                        <h2>Nos missions</h2>
                        <p>
                            Découvrez nos missions à travers le Liban.
                        </p>
                    </div>
                </a>
            </section>
            <section class="nos-objectifs">
               <div class="box-image">
                    <div class="fond"></div>
                    <h2 class="mobile-title">Nos objectifs</h2>
                    <a href="" class="go-link">Voir plus</a>
                </div>
                <a href="">
                    <div class="box-details">
                        <h2>Nos objectifs</h2>
                        <p>Le défi des acteurs sur le terrain est d'assurer une éducation aux enfants syriens. Yalla! s'en donne une ligne de conduite.
                        </p>
                    </div>
                </a>
            </section>
        </main>
        
        
        <!--*********     FOOTER     ************-->
        <footer>
            <div class="logo-box">
                <figure><img src="img-layout/yallalogo.png" alt="logo"></figure>
            </div>
            
            <div class="info-box">
               
                <!--***   nous suivre  ***-->
                <div class="follow-us-box footer-element">
                    <h3>Nous suivre</h3>
                    <ul class="follow-us">
                        <li class="text-link"><a href="">facebook</a></li>
                        <li class="text-link"><a href="">twitter</a></li>
                        <li class="text-link"><a href="">instagram</a></li>
                        <li class="icon-link"><a href=""><img src="img-layout/icons/facebook.png" alt=""></a></li>
                        <li class="icon-link"><a href=""><img src="img-layout/icons/twitter.png" alt=""></a></li>
                        <li class="icon-link"><a href=""><img src="img-layout/icons/instagram.png" alt=""></a></li>
                    </ul>
                </div>
                
                <!--***   archives  ***-->
                <ul class="archives footer-element">
                    <h3>Archives</h3>
                    <li><a href="">mai 2017</a></li>
                    <li><a href="">avril 2017</a></li>
                    <li><a href="">mars 2017</a></li>
                    <li><a href="">Plus d'articles...</a></li>
                </ul>
                
                <!--***   nous soutenir  ***-->
                <ul class="support-us footer-element">
                    <h3 class="support-us-title">Nous soutenir</h3>
                    <li class="support-us-subtitle support-element">Newsletter</li>
                    <li class="support-element">
                       <form action="">
                            <input type="text" placeholder="Adresse mail...">
                            <input type="submit" value="s'inscrire à la Newsletter">
                        </form>
                    </li>
                    <li class="support-element"><a href="">Faire un don</a></li>
                    
                </ul>
                
                <!--***   mentionsLégales + searchBar  ***-->
                <ul class="other footer-element">
                    <li class="search-bar">
                       <form action="">
                            <input type="search" placeholder="Rechercher"><button><img src="img-layout/icons/search.svg" alt=""></button>
                        </form>
                    </li>
                    <li class="legal"><a href="">mentions légales</a></li>
                    <li class="contact"><a href="">nous contacter</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>